$background-color: #1f2833;
$text-color: #fff;
$body-font: 'Heebo', Arial, Helvetica, sans-serif;
$headline-font: 'Bebas Neue', Arial, Helvetica, sans-serif;
$headline-font-color: #66fcf1;
$button-bg-color: #0b0c10;
$form-border-color: #808080;
