@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nixie+One&display=swap');

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	background-color: #1f2833;
	color: #fff;
	font-family: 'Nixie One', Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3rem;
	margin: 1rem;
}

h2 {
	font-size: 2rem;
}

p, li, label {
	font-size: 1rem;
	margin: 1rem;
}

form {
	margin: 1rem;
}