@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Heebo&display=swap');
@import './variables';

.container {
	text-align: center;
}

.headline {
	color: $headline-font-color;
	font-family: $headline-font;
}

.inputBox {
	border: none;
	border: 5px solid $form-border-color;
}

.inputBox:focus {
	outline: none;
}

.btn {
	color: #fff;
	background-color: $button-bg-color;
	margin: 0 1rem;
	font-family: $body-font;
	border: 5px solid $form-border-color;
}

.error {
	color: $headline-font-color;
}

.inputBox,
.btn {
	display: inline-block;
	font-size: 2rem;
	padding: 20px;
}

.btnTask {
	color: #fff;
	font-size: 2rem;
	background-color: $button-bg-color;
	margin: 0 5rem;
	font-family: $body-font;
	border: 4px solid $form-border-color;
	padding: .5rem;
}
.checkbox {
	display: inline-block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	margin-left: 20px;
}

.checkboxTask {
	display: inline-block;
	position: absolute;
	margin-top: 1rem;
	width: 2rem;
	height: 2rem;
	margin-left: 20px;
}
